<div class="navbar navbar-dark bg-primary navbar-expand-sm mb-3">
  <a class="navbar-brand" routerLink="/">Let predict it</a>
</div>
<div class="container-fluid" style="min-height: 600px">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <div class="footer">
    <div class="text-right">
      <h4>Dota 2 Match Prediction</h4>
      <h6>version 1.0.0</h6>
      <h6>GitHub:
        <a href="https://github.com/esnawapon/d2mp-frontend">WEB</a>,
        <a href="https://github.com/esnawapon/d2mp-engine">API</a>
      </h6>
    </div>
  </div>
</div>
